<div class="container">
  <div class="top-section">
    <app-search></app-search>
    <app-real-time></app-real-time>
  </div>
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>
  <div *ngIf="!isLoading">
    <app-market-data></app-market-data>
    <div *ngIf="isHistoricalPrices; else errorTemplate">
      <app-historical-chart></app-historical-chart>
    </div>
    <ng-template #errorTemplate>
      <p class="not-chart">We're unable to load prices right now. Please try again later. Sorry for the inconvenience!</p>
    </ng-template>
  </div>
</div>
